html {
  box-sizing: border-box;
  pointer-events: auto;
}
:root {
  --font-main: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

*, *:before, *:after {
  /* box-sizing: inherit; <-- had this before*/ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  scroll-snap-type: x mandatory;
}
/*_____________________________*/


/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  
  scrollbar-width: none;
  
  font-family: sans-serif;
  justify-content: center;
  /* scroll-snap-type: x mandatory;   */
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  margin: auto;
  max-width: 800px;
  border-top: 2px solid #080c80;
  border-bottom: 2px solid #080c80;
  text-align: space-evenly;
}

@media screen and (max-width: 550px) {
  .slider {
    justify-content: space-between;
  }
}

button {
  background-color: transparent;
  border: transparent;
  padding: 1rem;
  min-width: 150px;
  height: 50px;
  text-align: center;
  position: relative;
}

button.active h1{
  font-size: 20px;
}

.slideLeft{
  animation: slide-left 0.5s forwards;
}
.slideRight{
  animation: slide-right 0.5s forwards;
}
.slideCenterRight{
  animation: slide-center-right 0.5s forwards;
}
.slideCenterLeft{
  animation: slide-center-left 0.5s forwards;
}
.slideCrossLeft{
  animation: cross-left 0.5s forwards;
}
.slideCrossRight{
  animation: cross-right 0.5s forwards;
}

@keyframes cross-left {
  100% {
    -webkit-transform: translateX(-100%);
  }
  0% {
    -webkit-transform: translateX(100%);
  }
}
@keyframes slide-left {
  100% {
    -webkit-transform: translateX(-100%);
  }
  0% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes slide-center-left {
  100% {
    -webkit-transform: translateX(0%);
  }
  0% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes slide-center-right {
  100% {
    -webkit-transform: translateX(0%);
  }
  0% {
    -webkit-transform: translateX(100%);
  }
}
@keyframes slide-right {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(0%);
  }
}
@keyframes cross-right {
  100% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(-100%);
  }
}

button h1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #080c80;
  width: 100%;
  color:#080c80;
  margin: auto;
  text-transform: uppercase;
  font-size: 18px;
  width: 50px;
}

.colorFade {
  overflow-y: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --mask: linear-gradient(to right, 
      rgba(0,0,0, 0) 0,   rgba(0,0,0, 1) 50%, 
      rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  
  border: 1px #d8d8d8 dashed;
  font: 2em/1.6em Arial;
  -webkit-mask: var(--mask); 
  mask: var(--mask);
  
}

/*_____________________________*/


.title {
  color:#080c80;
  text-align: right;
  margin-left: 20%;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 3px;
  border-bottom: 3px solid #080c80;
  width: 50px;
  /* border: 3px solid pink; */
}
/* h2{
  font-weight: 100;
} */
.menu{
  margin-bottom: 150px;
}
.maininfo1 {
  position: relative;
  z-index: 0;
  text-decoration: none;
  width: 90%;
  height: 50%;
  border-radius: 10px;
  display: block;
  padding: 40px;
  /* line-height: 26pt; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  text-align: left;
}
.maininfo {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  display: block;
  padding: 40px;
  /* line-height: 26pt; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  text-align: center;
}

.column {
  float: left;
  text-align: center;
  width: 14vw;
  height: 100%;
  margin: auto;
  /* border: 5px solid yellow; */
}

.container {
  padding: 0 16px;
}
.row {
  border-radius: 10px;
  padding-top: 30px;
  /* border: 5px solid orange; */
  /* color: #080c80; */
}

.leftColumn {
  float: left;
  width: 25%;
  /* border: 2px solid red; */
}

.rightColumn {
  float: left;
  width: 70%;
  /* border: 2px solid green; */
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

#wrapper {
  padding:0px;
  width:100%;
  height:auto;
  margin:auto;
  margin-bottom: 10px;
  justify-content: center;
  /* border: 5px solid blueviolet; */
  /* overflow:hidden; */
}
.image-container {
  /* overflow: hidden; */
  position: relative;
  cursor: pointer;
  height: 24vw;
  width: 17vw;
  max-width: 190px;
  max-height: 250px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  /* border: 5px solid red; */
}
.image-container img {
  width: 100%;
  height: 100%; 
  position: absolute;
  margin: auto;
  /* border: 3px solid green; */
}
.image-caption {
  width:100%;
  height:100%;
  border-radius: 5px;
  background:linear-gradient(
    0deg,
    rgb(0, 0, 0, 0.8) 5%,
    rgb(255, 255, 255, 0.1)
  );
  opacity:0; 
  transition:all 300ms ease-in-out;
  -webkit-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  -ms-transition:all 300ms ease-in-out;
  position:absolute; 
  padding: 10px;
  text-align: left;
  font-size: 10px;
  font-family: var(--font-main);
  color:white;
}
.image-caption p{
  position: absolute;
  bottom: 15px;
}
.image-container:hover .image-caption{
  opacity:1;
}
/* popup */
.popup .popuptext {
  visibility: hidden;
  width: 100%;
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  border: 1px solid black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .popuptext p{
  line-height: 15pt;
} */

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  z-index: 100;
}

.maininfo .show{
  background-color: rgba(225,225,225);
  opacity: 0.5;
}

/*fade in the popup*/
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.close {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 0%;
  padding: 0px 5px;
  transform: translate(0%, -50%);
  border-radius: 6px;
  background: #fff;
}

.close:hover {
  background: #8baaff;
}

@media screen and (max-width: 1400px) {
  .tab button {
    width: 33.3%;
    height: 80px;
  }
  .image-cropper {
    max-height: 25vh;
  }
}
@media screen and (max-width: 850px){
  /* two images/people/bios per row */

  .column {
    width: 50%;
  }
  .column[style] {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .popup .popuptext {
    width: 40vw;
  }
  .image-container {    
    height: 230px;
    width: 170px;
  }
  .leftColumn {
    float: none;
    width: 100%;
  }
  .rightColumn {
    float: none;
    width: 100%;
  }
  .title{
    margin-left: 0%;
  }
}
@media screen and (max-width: 650px) {
  /* one image/person/bio per row */
  .column {
    width: 100%;
    display: block;
  }
  .image-cropper {
    max-width: calc(225px - 10%);
  }
  .popup .popuptext {
    width: 90vw;
    top: 100%;
    margin: auto;
    transform: translate(-50%, -100%);
  }
  .maininfo{
    margin-bottom: calc(450px - 30vw);
  }
  .maininfo1{
    width: 100%;
  }
  .title{
    color:#080c80;
    margin: auto;
    text-align: center;
    overflow-x: wrap;
    width: 60%;
  }
}
@media screen and (max-width: 450px) {
  .maininfo {
    overflow: hidden;
  }
  .maininfo1{
    margin-bottom: 250px;
  }
}
