* {
  box-sizing: border-box;
}
.p {
  font-size: 17px;
  align-items: left;
}
.header {
  font-size: 20px;
}
hr {
  border: 2px solid #080c80;
  border-radius: 90%;
  margin-top: 50px;
}
.article {
  margin-top: 50px;
}
